# 排除前端文件的语言统计
webui/** linguist-vendored

# 排除配置文件
*.yml linguist-detectable=false
*.yaml linguist-detectable=false

# 重点标记 Python
main.py linguist-language=Python

# Gradle wrapper
android/gradlew text eol=lf
android/gradlew.bat text eol=crlf
android/gradle/wrapper/gradle-wrapper.jar binary
